.footer {
    height: 70px;
    width: 100%;
    background-color: rgba(255, 255, 255, .4);
}

.footer > span {
    font-size: 15px;
}

.header {
    background-color: rgba(255, 255, 255, .4) !important;
    height: 70px;
    margin: 0 Auto;
}

.header > * > * > * {
    padding-left: 10px;
}



